.bg-primary {
    background-color: #0d6efd!important;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
/*   */
.header_menu {
    margin-bottom: 0;
}
.header_menu li {
    display: inline-block;
}
.header_menu li a {
    text-decoration: none;
    color: #1d325c;
    font-size: 17px;
    font-weight: 600;
    padding: 0 10px;
}